p{
    color:rgb(250, 65, 150);
    font-size:25px;
    /* margin-top: 10px
    margin-bottom: 20px
    margin-right: 20px
    margin-left: 30px
    /* margin: 10px 20px 20px ; */
    padding: 10px 20px 30px 20px;
    /*padding-left: 20px; */
    /*padding-bottom: 30px; */
}

div{
    height: 200px;
    width:50%;
    background-color: powderblue;
    border: 5px dotted rgb(250, 65, 150);
    color:blueviolet;
}

body{
    /* background-color: rgb(64, 120, 122); */
    background: url(image.png);
    background-size: cover;
}